In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
file_path = '../data/skylab_instagram_datathon_dataset.csv'

In [5]:
df = pd.read_csv(file_path, header=0, sep=";")
df.drop(columns=['period', 'calculation_type'], inplace=True)
df_allbrands = df[df['business_entity_doing_business_as_name'] == 'All Brands'].copy()
df_allbrands.drop(columns=['business_entity_doing_business_as_name','legal_entity_name','domicile_country_name','ultimate_parent_legal_entity_name','primary_exchange_name'], inplace=True)
df.drop(df[df['business_entity_doing_business_as_name'] == 'All Brands'].index, inplace=True)

brands = df['business_entity_doing_business_as_name'].unique()
compset_groups = df['compset_group'].unique()
compsets = df['compset'].unique()

groups_bycompset = {}
for compset in compsets:
    df_compset = df[df['compset'] == compset]
    groups_bycompset[compset] = df_compset['compset_group'].unique()

df_brands = df[['business_entity_doing_business_as_name', 'compset_group', 'compset', 'legal_entity_name', 'domicile_country_name', 'ultimate_parent_legal_entity_name', 'primary_exchange_name']].copy()
df_brands = df_brands.groupby('business_entity_doing_business_as_name').agg({
    'compset_group': 'first',
    'compset': lambda x: sorted(list(set(x))),
    'legal_entity_name': 'first',
    'domicile_country_name': 'first',
    'ultimate_parent_legal_entity_name': 'first',
    'primary_exchange_name': 'first'
}).reset_index()
df.drop(columns=['compset_group', 'compset', 'legal_entity_name', 'domicile_country_name', 'ultimate_parent_legal_entity_name', 'primary_exchange_name'], inplace=True)
df.fillna(-1, inplace=True)
df.drop_duplicates(inplace=True)

In [8]:
df[(df['business_entity_doing_business_as_name'] == '24S')].sort_values(by='period_end_date')

,period_end_date,business_entity_doing_business_as_name,followers,pictures,videos,comments,likes
44,2015-01-03,Versace,3013544.0,33.0,3.0,7111.0,742976.0
99,2015-01-10,Versace,3052258.0,28.0,1.0,7193.0,685187.0
650,2015-01-17,Versace,3091251.0,56.0,0.0,12023.0,1288836.0
559,2015-01-24,Versace,3124897.0,67.0,0.0,12552.0,1460174.0
466,2015-01-31,Versace,3179576.0,91.0,0.0,16593.0,2054621.0
...,...,...,...,...,...,...,...
204,2023-08-19,Versace,31222929.0,24.0,4.0,1806.0,335913.0
308,2023-08-26,Versace,31243955.0,28.0,5.0,2599.0,510408.0
792,2023-09-02,Versace,31274956.0,26.0,5.0,2693.0,599882.0
72,2023-09-09,Versace,31285692.0,37.0,4.0,3685.0,852583.0
1067,2023-09-16,Versace,31312744.0,47.0,7.0,4490.0,1033795.0

In [213]:
# Check columns uniquely defined by brand:
for brand in brands:
    df_brand=(df[df['business_entity_doing_business_as_name'] == brand].sort_values(by='period_end_date')).copy()
    
    if df_brand['primary_exchange_name'].nunique()>1:
        print(brand)

unique=['compset_group', 'legal_entity_name', 'domicile_country_name', 'ultimate_parent_legal_entity_name', 'primary_exchange_name']

In [233]:
for brand in brands:
    df_brand=(df[df['business_entity_doing_business_as_name'] == brand].sort_values(by='period_end_date')).copy().reset_index()
    first_date = df_brand.loc[0, 'period_end_date']
    filtered_compset = df_brand[df_brand['period_end_date'] == first_date]['compset'].tolist()
    all_compset = df_brand['compset'].unique().tolist()
    if sorted(filtered_compset)!=sorted(all_compset):
        print(brand)

# Compset list of first time entry does not change later...