In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno

from utilities import clean_data, missing

In [95]:
df, df_brands, df_allbrands, brands, compsets, compset_groups, groups_bycompset = clean_data()

print(df.shape)
df.head(n=5)

(298040, 7)

,period_end_date,business_entity_doing_business_as_name,followers,pictures,videos,comments,likes
0,2017-05-06,24S,NaN,NaN,NaN,NaN,NaN
1,2017-05-13,24S,NaN,6.0,3.0,57.0,1765.0
2,2017-05-20,24S,NaN,6.0,3.0,57.0,1765.0
3,2017-05-27,24S,NaN,6.0,3.0,57.0,1765.0
4,2017-06-03,24S,NaN,24.0,3.0,109.0,3922.0

# 1) Understanding Missing Values

In [96]:


# get the number of missing data points per column
missing_values_count = df.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[::]

period_end_date                               0
business_entity_doing_business_as_name        0
followers                                 61727
pictures                                   3864
videos                                     9602
comments                                   4082
likes                                      3752
dtype: int64

In [97]:
df_missing = missing(df)

df_missing.head()

,business_entity_doing_business_as_name,followers_NaNs,pictures_NaNs,videos_NaNs,comments_NaNs,likes_NaNs
0,24S,20,1,1,1,1
1,3.1 Phillip Lim,18,0,0,0,0
2,3CE,131,0,0,0,0
3,A. Lange & Soehne,8,3,2,2,2
4,ANIMALE,131,0,2,0,0

#### How many rows are in df, containing at least one Nan?

In [98]:
# Count the number of rows with at least one NaN value across any column and print
rows_with_nan = df.isna().any(axis=1).sum()
print("Number of rows with at least one NaN:", rows_with_nan)

Number of rows with at least one NaN: 65868

In [99]:
#df[0:50]
#df[300:350]

#### Removing all rows at the beginning of each company that are part of a series of Nan entries in the followers column:

In [100]:
# Function to remove leading NaNs in 'followers' for each group(business)
def remove_leading_nans(group):
    # Get the first index where 'followers' is not NaN
    first_valid_index = group['followers'].first_valid_index()
    # If all are NaNs, return an empty DataFrame from this group
    if first_valid_index is None:
        return pd.DataFrame()
    # Return the DataFrame starting from the first non-NaN 'followers' row
    return group.loc[first_valid_index:]

# Apply the function to each group and concatenate the results
cleaned_df = df.groupby('business_entity_doing_business_as_name', group_keys=False).apply(remove_leading_nans)

In [101]:

# Count the number of rows with at least one NaN value across any column
rows_with_nan = cleaned_df.isna().any(axis=1).sum()

# Display the count
print("Number of rows with at least one NaN:", rows_with_nan)

Number of rows with at least one NaN: 4378

In [102]:
#cleaned_df[0:50]

#cleaned_df[1100:1150]

#### How long are the remaining series of Nan's in each column?

In [103]:
cleaned_df = cleaned_df.reset_index(drop=True)

In [104]:
def calculate_nan_series_lengths_indices_and_total(_df):
    # Initialize a dictionary to store the lengths of NaN series and their indices for each column
    nan_series_details = {col: [] for col in _df.columns if _df[col].isna().any()}
    total_nan_count = 0
    
    # Iterate through each column that contains NaN
    for col in nan_series_details.keys():
        current_series_length = 0
        series_start_index = None
        previous_business = None
        
        # Iterate through each row
        for idx, row in _df.iterrows():
            if pd.isna(row[col]):
                # Check if we've moved to a new business
                if row['business_entity_doing_business_as_name'] != previous_business:
                    if current_series_length > 0:
                        # Save the length and indices of the previous series before starting a new one
                        nan_series_details[col].append((current_series_length, series_start_index, idx - 1))
                        total_nan_count += current_series_length
                    # Reset the series length for the new business and record start index
                    current_series_length = 1
                    series_start_index = idx
                else:
                    # Increment the series length
                    current_series_length += 1
            else:
                if current_series_length > 0:
                    # End of a series, append its length and indices to the list and add to total count
                    nan_series_details[col].append((current_series_length, series_start_index, idx - 1))
                    total_nan_count += current_series_length
                    current_series_length = 0
                    series_start_index = None
            
            # Update the previous business name
            previous_business = row['business_entity_doing_business_as_name']
        
        # Check if the last row in the dataframe was a NaN and needs to be added
        if current_series_length > 0:
            nan_series_details[col].append((current_series_length, series_start_index, _df.index[-1]))
            total_nan_count += current_series_length

    return nan_series_details, total_nan_count

nan_series_info, total_nan = calculate_nan_series_lengths_indices_and_total(cleaned_df)
print(nan_series_info)
print("Total NaN entries:", total_nan)

{'followers': [(74, None, 20842), (43, None, 30082), (89, None, 34146), (31, None, 71309)], 'pictures': [(3, 6061, 6063), (1, 7958, 7958), (53, 16635, 16687), (19, 20421, 20439), (96, 21483, 21578), (53, 29628, 29680), (1, 43464, 43464), (52, 49020, 49071), (109, 52645, 52753), (21, 58280, 58300), (73, 59124, 59196), (37, 72337, 72373), (58, 73044, 73101), (77, 73877, 73953), (11, 77736, 77746), (1, 78063, 78063), (22, 79482, 79503), (53, 85486, 85538), (35, 89124, 89158), (53, 91502, 91554), (52, 93247, 93298), (39, 95034, 95072), (42, 99706, 99747), (11, 100670, 100680), (53, 101828, 101880), (18, 105975, 105992), (136, 106980, 107115), (52, 107734, 107785), (27, 108189, 108215), (27, 108618, 108644), (50, 110924, 110973), (35, 114638, 114672), (52, 119911, 119962), (94, 124339, 124432), (174, 124766, 124939), (52, 129233, 129284), (118, 132922, 133039), (52, 137185, 137236), (25, 137929, 137953), (172, 140454, 140625), (47, 152086, 152132), (23, 153856, 153878), (28, 156032, 156059), (110, 156226, 156335), (8, 163391, 163398), (42, 168019, 168060), (9, 170706, 170714), (85, 178242, 178326), (52, 179204, 179255), (119, 181153, 181271), (12, 182877, 182888), (19, 189336, 189354), (51, 194103, 194153), (52, 202463, 202514), (19, 205282, 205300), (5, 209502, 209506), (113, 210522, 210634), (1, 214240, 214240), (2, 214959, 214960), (27, 217584, 217610), (161, 222264, 222424), (23, 223887, 223909), (109, 227877, 227985), (47, 229923, 229969), (10, 232138, 232147)], 'videos': [(9, 3136, 3144), (1, 4443, 4443), (1, 5606, 5606), (1, 7958, 7958), (1, 10580, 10580), (11, 11455, 11465), (5, 14199, 14203), (6, 14654, 14659), (52, 16635, 16686), (9, 17090, 17098), (21, 20421, 20441), (119, 21483, 21601), (4, 22181, 22184), (1, 22636, 22636), (7, 28059, 28065), (54, 29628, 29681), (6, 37831, 37836), (1, 39757, 39757), (3, 41915, 41917), (1, 43464, 43464), (4, 45426, 45429), (6, 47366, 47371), (18, 48565, 48582), (53, 49020, 49072), (1, 49475, 49475), (1, 50385, 50385), (5, 50840, 50844), (109, 52645, 52753), (19, 58280, 58298), (4, 58702, 58705), (74, 59124, 59197), (5, 62343, 62347), (4, 65932, 65935), (5, 66656, 66660), (25, 67387, 67411), (37, 72337, 72373), (58, 73044, 73101), (7, 73422, 73428), (78, 73877, 73954), (11, 77736, 77746), (3, 78063, 78065), (24, 79482, 79505), (22, 82977, 82998), (53, 85486, 85538), (1, 88282, 88282), (45, 89124, 89168), (12, 89579, 89590), (53, 91502, 91554), (53, 93247, 93299), (26, 93702, 93727), (40, 95034, 95073), (51, 99706, 99756), (28, 100670, 100697), (60, 101828, 101887), (25, 105975, 105999), (6, 106525, 106530), (177, 106980, 107156), (52, 107734, 107785), (47, 108189, 108235), (29, 108618, 108646), (24, 110050, 110073), (50, 110924, 110973), (3, 113589, 113591), (36, 114638, 114673), (54, 119911, 119964), (96, 124339, 124434), (174, 124766, 124939), (13, 125542, 125554), (57, 126358, 126414), (53, 129233, 129285), (7, 131816, 131822), (120, 132922, 133041), (7, 134895, 134901), (2, 135448, 135449), (3, 135903, 135905), (54, 137185, 137238), (27, 137929, 137955), (172, 140454, 140625), (3, 141093, 141095), (7, 144512, 144518), (1, 146000, 146000), (9, 148053, 148061), (60, 152086, 152145), (25, 153856, 153880), (48, 156032, 156079), (109, 156226, 156334), (10, 159606, 159615), (11, 163391, 163401), (43, 168019, 168061), (4, 169198, 169201), (15, 170706, 170720), (12, 174479, 174490), (4, 176791, 176794), (94, 178242, 178335), (54, 179204, 179257), (59, 181153, 181211), (11, 182877, 182887), (22, 183722, 183743), (19, 189336, 189354), (51, 194103, 194153), (52, 202463, 202514), (25, 205282, 205306), (15, 209502, 209516), (113, 210522, 210634), (2, 213785, 213786), (2, 214959, 214960), (1, 216853, 216853), (28, 217584, 217611), (2, 220688, 220689), (169, 222264, 222432), (22, 222995, 223016), (23, 223887, 223909), (1, 225413, 225413), (112, 227877, 227988), (47, 229923, 229969), (21, 232138, 232158), (6, 233651, 233656)], 'comments': [(1, 7958, 7958), (52, 16635, 16686), (19, 20421, 20439), (96, 21483, 21578), (40, 29352, 29391), (53, 29628, 29680), (1, 43464, 43464), (52, 49020, 49071), (109, 52645, 52753), (19, 58280, 58298), (73, 59124, 59196), (113, 70791, 70903), (37, 72337, 72373), (58, 73044, 73101), (77, 73877, 73953), (11, 77736, 77746), (1, 78063, 78063), (22, 79482, 79503), (53, 85486, 85538), (35, 89124, 89158), (53, 91502, 91554), (52, 93247, 93298), (39, 95034, 95072), (42, 99706, 99747), (11, 100670, 100680), (53, 101828, 101880), (18, 105975, 105992), (136, 106980, 107115), (52, 107734, 107785), (27, 108189, 108215), (27, 108618, 108644), (50, 110924, 110973), (35, 114638, 114672), (52, 119911, 119962), (94, 124339, 124432), (174, 124766, 124939), (52, 129233, 129284), (118, 132922, 133039), (52, 137185, 137236), (25, 137929, 137953), (172, 140454, 140625), (53, 152086, 152138), (23, 153856, 153878), (28, 156032, 156059), (109, 156226, 156334), (8, 163391, 163398), (42, 168019, 168060), (9, 170706, 170714), (86, 178242, 178327), (52, 179204, 179255), (59, 181153, 181211), (11, 182877, 182887), (11, 187360, 187370), (19, 189336, 189354), (51, 194103, 194153), (52, 202463, 202514), (19, 205282, 205300), (5, 209502, 209506), (113, 210522, 210634), (2, 214959, 214960), (27, 217584, 217610), (161, 222264, 222424), (23, 223887, 223909), (109, 227877, 227985), (47, 229923, 229969), (10, 232138, 232147)], 'likes': [(1, 7958, 7958), (52, 16635, 16686), (19, 20421, 20439), (96, 21483, 21578), (53, 29628, 29680), (1, 43464, 43464), (52, 49020, 49071), (109, 52645, 52753), (19, 58280, 58298), (73, 59124, 59196), (37, 72337, 72373), (58, 73044, 73101), (77, 73877, 73953), (11, 77736, 77746), (1, 78063, 78063), (22, 79482, 79503), (53, 85486, 85538), (35, 89124, 89158), (53, 91502, 91554), (52, 93247, 93298), (39, 95034, 95072), (42, 99706, 99747), (11, 100670, 100680), (53, 101828, 101880), (18, 105975, 105992), (136, 106980, 107115), (52, 107734, 107785), (27, 108189, 108215), (27, 108618, 108644), (50, 110924, 110973), (35, 114638, 114672), (52, 119911, 119962), (94, 124339, 124432), (174, 124766, 124939), (52, 129233, 129284), (118, 132922, 133039), (52, 137185, 137236), (25, 137929, 137953), (172, 140454, 140625), (47, 152086, 152132), (23, 153856, 153878), (28, 156032, 156059), (109, 156226, 156334), (8, 163391, 163398), (42, 168019, 168060), (9, 170706, 170714), (85, 178242, 178326), (52, 179204, 179255), (59, 181153, 181211), (11, 182877, 182887), (19, 189336, 189354), (51, 194103, 194153), (52, 202463, 202514), (19, 205282, 205300), (5, 209502, 209506), (113, 210522, 210634), (2, 214959, 214960), (27, 217584, 217610), (161, 222264, 222424), (23, 223887, 223909), (109, 227877, 227985), (47, 229923, 229969), (10, 232138, 232147)]}
Total NaN entries: 14027

In [105]:
#total_nan_entries = df.isna().sum().sum()

print(cleaned_df.isna().sum().sum())

14027

In [106]:
#'followers': [(74, 20769, 20842), (43, 30040, 30082), (89, 34058, 34146), (31, 71279, 71309)]

#cleaned_df[71309-31-1:71309+5]

#drop above rows manually:

indices_to_drop = list(range(20769, 20842)) + list(range(30040, 30082)) + list(range(34058, 34146)) + list(range(71279, 71309))
cleaned_df = cleaned_df.drop(indices_to_drop)

In [107]:
cleaned_df[cleaned_df['followers'].isna()]

,period_end_date,business_entity_doing_business_as_name,followers,pictures,videos,comments,likes
20842,2023-09-16,Becca,NaN,0.0,0.0,0.0,0.0
30082,2023-09-16,Bottega Veneta,NaN,0.0,0.0,0.0,0.0
34146,2023-09-16,Bulgari Beauty,NaN,0.0,0.0,0.0,0.0
71309,2023-09-16,East Bay,NaN,0.0,0.0,0.0,0.0

#### How many rows with 4, 3, 2 nans are there?

In [108]:
# Calculate the number of NaNs per row
nan_counts_per_row = cleaned_df.isna().sum(axis=1)

# Count how many rows have exactly 4, 3, and 2 NaNs
nan_4 = (nan_counts_per_row == 4).sum()
nan_3 = (nan_counts_per_row == 3).sum()
nan_2 = (nan_counts_per_row == 2).sum()
nan_1 = (nan_counts_per_row == 1).sum()

print("Number of rows with 4 NaNs:", nan_4)
print("Number of rows with 3 NaNs:", nan_3)
print("Number of rows with 2 NaNs:", nan_2)
print("Number of rows with 1 NaNs:", nan_1)

# For a more general approach, to see counts for all possible numbers of NaNs
nan_counts_distribution = nan_counts_per_row.value_counts().sort_index()

print("Distribution of NaN counts per row:\n", nan_counts_distribution)

print(nan_1+nan_2+nan_3+nan_4)
print(nan_1+2*nan_2+3*nan_3+4*nan_4)

Number of rows with 4 NaNs: 3214
Number of rows with 3 NaNs: 0
Number of rows with 2 NaNs: 7
Number of rows with 1 NaNs: 924
Distribution of NaN counts per row:
 0    232172
1       924
2         7
4      3214
dtype: int64
4145
13794

In [110]:
print(cleaned_df.shape)

(236317, 7)

# 2) Calculate rate of change of followers and cross correlate

In [109]:
df[300:350]
#print(df.shape)
#print(df[df['pictures'].isna()].shape)

,period_end_date,business_entity_doing_business_as_name,followers,pictures,videos,comments,likes
300,2023-02-04,24S,214756.0,18.0,9.0,249.0,31076.0
301,2023-02-11,24S,214643.0,18.0,9.0,191.0,21015.0
302,2023-02-18,24S,214925.0,19.0,9.0,592.0,25620.0
303,2023-02-25,24S,214665.0,20.0,8.0,591.0,25879.0
304,2023-03-04,24S,214590.0,19.0,11.0,600.0,15842.0
305,2023-03-11,24S,214519.0,18.0,11.0,574.0,14832.0
306,2023-03-18,24S,214323.0,17.0,12.0,196.0,11378.0
307,2023-03-25,24S,214605.0,17.0,12.0,226.0,12650.0
308,2023-04-01,24S,214625.0,19.0,8.0,191.0,10187.0
309,2023-04-08,24S,214684.0,20.0,9.0,210.0,13820.0
310,2023-04-15,24S,217225.0,22.0,7.0,218.0,16600.0
311,2023-04-22,24S,218245.0,23.0,6.0,188.0,15611.0
312,2023-04-29,24S,218848.0,21.0,8.0,162.0,15532.0
313,2023-05-06,24S,218672.0,23.0,5.0,133.0,10927.0
314,2023-05-13,24S,218404.0,24.0,4.0,116.0,9803.0
315,2023-05-20,24S,218476.0,23.0,5.0,117.0,9919.0
316,2023-05-27,24S,226114.0,22.0,6.0,120.0,9801.0
317,2023-06-03,24S,229013.0,21.0,7.0,129.0,10609.0
318,2023-06-10,24S,228955.0,19.0,9.0,1007.0,9021.0
319,2023-06-17,24S,228930.0,17.0,11.0,1078.0,12286.0
320,2023-06-24,24S,229138.0,17.0,12.0,1066.0,12510.0
321,2023-07-01,24S,229439.0,15.0,14.0,1069.0,12664.0
322,2023-07-08,24S,229518.0,15.0,14.0,225.0,13216.0
323,2023-07-15,24S,231354.0,14.0,15.0,177.0,10093.0
324,2023-07-22,24S,235382.0,15.0,13.0,1060.0,98489.0
325,2023-07-29,24S,236041.0,18.0,10.0,1080.0,98886.0
326,2023-08-05,24S,236153.0,19.0,9.0,1044.0,98450.0
327,2023-08-12,24S,236874.0,19.0,9.0,1056.0,101332.0
328,2023-08-19,24S,237341.0,20.0,8.0,177.0,11907.0
329,2023-08-26,24S,237148.0,20.0,8.0,164.0,10902.0
330,2023-09-02,24S,237200.0,19.0,9.0,200.0,9999.0
331,2023-09-09,24S,237650.0,19.0,9.0,169.0,7438.0
332,2023-09-16,24S,237908.0,18.0,10.0,157.0,7225.0
333,2015-01-03,3.1 Phillip Lim,NaN,5.0,4.0,774.0,28397.0
334,2015-01-10,3.1 Phillip Lim,NaN,5.0,2.0,687.0,24588.0
335,2015-01-17,3.1 Phillip Lim,NaN,3.0,1.0,584.0,15194.0
336,2015-01-24,3.1 Phillip Lim,NaN,3.0,2.0,126.0,14471.0
337,2015-01-31,3.1 Phillip Lim,NaN,4.0,2.0,217.0,18742.0
338,2015-02-07,3.1 Phillip Lim,NaN,14.0,3.0,411.0,37798.0
339,2015-02-14,3.1 Phillip Lim,NaN,17.0,3.0,456.0,44778.0
340,2015-02-21,3.1 Phillip Lim,NaN,25.0,2.0,551.0,58863.0
341,2015-02-28,3.1 Phillip Lim,NaN,23.0,2.0,418.0,50436.0
342,2015-03-07,3.1 Phillip Lim,NaN,16.0,1.0,305.0,37798.0
343,2015-03-14,3.1 Phillip Lim,NaN,16.0,1.0,342.0,40113.0
344,2015-03-21,3.1 Phillip Lim,NaN,13.0,0.0,945.0,44233.0
345,2015-03-28,3.1 Phillip Lim,NaN,15.0,0.0,961.0,48949.0
346,2015-04-04,3.1 Phillip Lim,NaN,16.0,0.0,926.0,50057.0
347,2015-04-11,3.1 Phillip Lim,NaN,13.0,0.0,844.0,40762.0
348,2015-04-18,3.1 Phillip Lim,NaN,9.0,1.0,102.0,19309.0
349,2015-04-25,3.1 Phillip Lim,NaN,6.0,1.0,63.0,11422.0