In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [66]:
file_path = '/Users/jonasspiller/Documents/STEM/Datathlon/data/skylab_instagram_datathon_dataset.csv'
df = pd.read_csv(file_path, header=0, sep=";")

In [16]:
df.head()

,period,period_end_date,compset_group,compset,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes
0,Weekly,2019-12-07,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,22066189.0,97.0,13.0,16239.0,6112205.0
1,Weekly,2021-01-30,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,24289963.0,54.0,2.0,13358.0,3189144.0
2,Weekly,2016-05-14,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,7137442.0,42.0,8.0,15894.0,2152955.0
3,Weekly,2019-04-20,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,18901125.0,73.0,9.0,26762.0,5224916.0
4,Weekly,2023-03-25,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,30251374.0,54.0,10.0,25681.0,5760987.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704313 entries, 0 to 704312
Data columns (total 15 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   period                                  704313 non-null  object
 1   period_end_date                         704313 non-null  object
 2   compset_group                           704313 non-null  object
 3   compset                                 704313 non-null  object
 4   business_entity_doing_business_as_name  704313 non-null  object
 5   legal_entity_name                       676558 non-null  object
 6   domicile_country_name                   458589 non-null  object
 7   ultimate_parent_legal_entity_name       676558 non-null  object
 8   primary_exchange_name                   458589 non-null  object
 9   calculation_type                        704313 non-null  object
 10  followers                               579258 non-null  float64
 11  pictures                                695803 non-null  float64
 12  videos                                  684349 non-null  float64
 13  comments                                695343 non-null  float64
 14  likes                                   695977 non-null  float64
dtypes: float64(5), object(10)
memory usage: 80.6+ MB

In [18]:
df.describe()

          followers       pictures         videos      comments         likes
count  5.792580e+05  695803.000000  684349.000000  6.953430e+05  6.959770e+05
mean   1.342432e+07     344.272540      61.244426  3.043246e+04  2.163189e+06
std    1.106975e+08    2777.396873     564.468480  2.766459e+05  1.803193e+07
min    0.000000e+00       0.000000       0.000000  0.000000e+00  0.000000e+00
25%    3.013372e+05      19.000000       2.000000  3.710000e+02  1.727700e+04
50%    1.104144e+06      44.000000       7.000000  1.435000e+03  9.318400e+04
75%    4.479325e+06     122.000000      20.000000  5.872000e+03  4.577470e+05
max    3.502565e+09  141746.000000   35905.000000  1.732046e+07  7.120711e+08

In [19]:
df.loc[df['followers'].idxmax()]

period                                                Weekly
period_end_date                                   2023-09-16
compset_group                             Study (All Brands)
compset                                   Study (All Brands)
business_entity_doing_business_as_name            All Brands
legal_entity_name                                        NaN
domicile_country_name                                    NaN
ultimate_parent_legal_entity_name                        NaN
primary_exchange_name                                    NaN
calculation_type                                Metric Value
followers                                       3502564772.0
pictures                                             54562.0
videos                                               35610.0
comments                                           3797174.0
likes                                            222471223.0
Name: 367345, dtype: object

In [39]:
# First few entries for Versace
df[(df['business_entity_doing_business_as_name'] == 'Versace')].sort_values(by='period_end_date')

,period,period_end_date,compset_group,compset,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes
742,Weekly,2015-01-03,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,3013544.0,33.0,3.0,7111.0,742976.0
119,Weekly,2015-01-03,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,3013544.0,33.0,3.0,7111.0,742976.0
44,Weekly,2015-01-03,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,3013544.0,33.0,3.0,7111.0,742976.0
644,Weekly,2015-01-03,Luxury & Premium & Mainstream,Global Luxury Analysts Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,3013544.0,33.0,3.0,7111.0,742976.0
759,Weekly,2015-01-10,Luxury & Premium & Mainstream,Global Luxury Analysts Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,3052258.0,28.0,1.0,7193.0,685187.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Weekly,2023-09-09,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,31285692.0,37.0,4.0,3685.0,852583.0
1509,Weekly,2023-09-16,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,31312744.0,47.0,7.0,4490.0,1033795.0
1447,Weekly,2023-09-16,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,31312744.0,47.0,7.0,4490.0,1033795.0
1536,Weekly,2023-09-16,Luxury & Premium & Mainstream,Global Luxury Analysts Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,31312744.0,47.0,7.0,4490.0,1033795.0
1067,Weekly,2023-09-16,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,Metric Value,31312744.0,47.0,7.0,4490.0,1033795.0

In [285]:
df = pd.read_csv(file_path, header=0, sep=";")
df.drop(columns=['period', 'calculation_type'], inplace=True)
df_allbrands = df[df['business_entity_doing_business_as_name'] == 'All Brands'].copy()
df_allbrands.drop(columns=['business_entity_doing_business_as_name','legal_entity_name','domicile_country_name','ultimate_parent_legal_entity_name','primary_exchange_name'], inplace=True)
df.drop(df[df['business_entity_doing_business_as_name'] == 'All Brands'].index, inplace=True)

brands = df['business_entity_doing_business_as_name'].unique()
compset_groups = df['compset_group'].unique()
compsets = df['compset'].unique()

groups_bycompset = {}
for compset in compsets:
    df_compset = df[df['compset'] == compset]
    groups_bycompset[compset] = df_compset['compset_group'].unique()

df_brands = df[['business_entity_doing_business_as_name', 'compset_group', 'compset', 'legal_entity_name', 'domicile_country_name', 'ultimate_parent_legal_entity_name', 'primary_exchange_name']].copy()
df_brands = df_brands.groupby('business_entity_doing_business_as_name').agg({
    'compset_group': 'first',
    'compset': lambda x: sorted(list(set(x))),
    'legal_entity_name': 'first',
    'domicile_country_name': 'first',
    'ultimate_parent_legal_entity_name': 'first',
    'primary_exchange_name': 'first'
}).reset_index()
df.drop(columns=['compset_group', 'compset', 'legal_entity_name', 'domicile_country_name', 'ultimate_parent_legal_entity_name', 'primary_exchange_name'], inplace=True)
df.fillna(-1, inplace=True)
df.drop_duplicates(inplace=True)

In [277]:
df[(df['business_entity_doing_business_as_name'] == 'Versace')].sort_values(by='period_end_date')

,period_end_date,business_entity_doing_business_as_name,followers,pictures,videos,comments,likes
44,2015-01-03,Versace,3013544.0,33.0,3.0,7111.0,742976.0
99,2015-01-10,Versace,3052258.0,28.0,1.0,7193.0,685187.0
650,2015-01-17,Versace,3091251.0,56.0,0.0,12023.0,1288836.0
559,2015-01-24,Versace,3124897.0,67.0,0.0,12552.0,1460174.0
466,2015-01-31,Versace,3179576.0,91.0,0.0,16593.0,2054621.0
...,...,...,...,...,...,...,...
204,2023-08-19,Versace,31222929.0,24.0,4.0,1806.0,335913.0
308,2023-08-26,Versace,31243955.0,28.0,5.0,2599.0,510408.0
792,2023-09-02,Versace,31274956.0,26.0,5.0,2693.0,599882.0
72,2023-09-09,Versace,31285692.0,37.0,4.0,3685.0,852583.0
1067,2023-09-16,Versace,31312744.0,47.0,7.0,4490.0,1033795.0

In [272]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 298040 entries, 0 to 704312
Data columns (total 7 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   period_end_date                         298040 non-null  object
 1   business_entity_doing_business_as_name  298040 non-null  object
 2   followers                               298040 non-null  float64
 3   pictures                                298040 non-null  float64
 4   videos                                  298040 non-null  float64
 5   comments                                298040 non-null  float64
 6   likes                                   298040 non-null  float64
dtypes: float64(5), object(2)
memory usage: 18.2+ MB

In [213]:
# Check columns uniquely defined by brand:
for brand in brands:
    df_brand=(df[df['business_entity_doing_business_as_name'] == brand].sort_values(by='period_end_date')).copy()
    
    if df_brand['primary_exchange_name'].nunique()>1:
        print(brand)

unique=['compset_group', 'legal_entity_name', 'domicile_country_name', 'ultimate_parent_legal_entity_name', 'primary_exchange_name']

In [233]:
for brand in brands:
    df_brand=(df[df['business_entity_doing_business_as_name'] == brand].sort_values(by='period_end_date')).copy().reset_index()
    first_date = df_brand.loc[0, 'period_end_date']
    filtered_compset = df_brand[df_brand['period_end_date'] == first_date]['compset'].tolist()
    all_compset = df_brand['compset'].unique().tolist()
    if sorted(filtered_compset)!=sorted(all_compset):
        print(brand)

# Compset list of first time entry does not change later...