In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno

from utilities import clean_data, missing

In [5]:
df, df_brands, df_allbrands, brands, compsets, compset_groups, groups_bycompset = clean_data()

print(df.shape)
df.head(n=5)

(298040, 7)

,period_end_date,business_entity_doing_business_as_name,followers,pictures,videos,comments,likes
0,2017-05-06,24S,NaN,NaN,NaN,NaN,NaN
1,2017-05-13,24S,NaN,6.0,3.0,57.0,1765.0
2,2017-05-20,24S,NaN,6.0,3.0,57.0,1765.0
3,2017-05-27,24S,NaN,6.0,3.0,57.0,1765.0
4,2017-06-03,24S,NaN,24.0,3.0,109.0,3922.0

# 1) Understanding Missing Values

In [17]:


# get the number of missing data points per column
missing_values_count = df.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[::]

period_end_date                               0
business_entity_doing_business_as_name        0
followers                                 61727
pictures                                   3864
videos                                     9602
comments                                   4082
likes                                      3752
dtype: int64

In [8]:
df_missing = missing(df)

df_missing.head()

,business_entity_doing_business_as_name,followers_NaNs,pictures_NaNs,videos_NaNs,comments_NaNs,likes_NaNs
0,24S,20,1,1,1,1
1,3.1 Phillip Lim,18,0,0,0,0
2,3CE,131,0,0,0,0
3,A. Lange & Soehne,8,3,2,2,2
4,ANIMALE,131,0,2,0,0